@import "tailwindcss";

@theme inline {
  --color-bluedark: #0b2b40;
  --color-bluelight: #164773;
  --color-greendark: #3b8c6e;
  --color-greenlight: #89d99d;
  --color-white: #ecf7ef;
}

body {
  background: linear-gradient(
    45deg,
    var(--color-bluedark),
    var(--color-bluelight)
  );
  color: var(--color-white);
}
